<%= render 'links/links' %>
<section>
  <div><h1>Frete Mínimo</h1></div>
  <div>
    <% if @shipping_custs.empty? %>
      <div><%= link_to 'Definir Valor', new_shipping_cust_path %></div>
    <% else %>
      <div>
        <% @shipping_custs.each do |shipping_cust| %>
          <div><%= "R$ #{shipping_cust.value}" %></div>
          <div><%= link_to 'Editar Valor', edit_shipping_cust_path(shipping_cust.id) %></div>
        <% end %>
      </div>
    <% end %>
  </div>

</section>
<section>
  <div><h1>Preços</h1></div>
  <div>
    <div>
      <% if @budgets.any? %>
        <% @budgets.each do |budget| %>
          <div>
            <table style="width: 20%">
              <thead>
                <tr>
                  <th style="text-align:center">Metros Cúbicos</th>
                  <th style="text-align:center">Peso</th>
                  <th style="text-align:center">Valor por Km</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:center"><%= budget.row_generator(budget.min_size, budget.max_size)%></td>
                  <td style="text-align:center"><%= budget.row_generator(budget.min_weight, budget.max_weight) %></td>
                  <td style="text-align:center"><%= "R$ #{budget.range_price}" %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      <% else %>
        <p>Não há preços cadastrados<p>
      <% end %>
    </div>
  </div>
  <nav>
    <%= link_to 'Cadastrar Preços', new_budget_path %>
  </nav>
</section>
<section>
  <div><h1>Prazos</h1></div>
  <div>
    <div>
      <% if @deadlines.any? %>
        <% @deadlines.each do |deadline| %>
          <div>
            <table style="width: 15%">
              <thead>
                <tr>
                  <th style="text-align:center">Distância (Km)</th>
                  <th style="text-align:center">Prazo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:center"><%= deadline.row_generator(deadline.min_space, deadline.max_space)%></td>
                  <td style="text-align:center"><%= "#{deadline.days} dias úteis" %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      <% else %>
        <p>Não há prazos cadastrados<p>
      <% end %>
    </div>
  </div>
  <nav>
    <%= link_to 'Cadastrar Prazos', new_deadline_path %>
  </nav>
</section>
