<div><h1><%= @company.brand_name %></h1></div>

<section>
  <ul>
    <li><strong>Razão Social: </strong><%= @company.corporate_name %></li>
    <li><strong>CNPJ: </strong><%= @company.registration_number %></li>
    <li><strong>Endereço: </strong><%= "#{@company.address} - #{@company.state_abbr.upcase},
                                        #{@company.postal_code}" %></li>
  </ul>
</section>

<nav><%= link_to 'voltar', companies_path %></nav>
