<section style="text-align:center">
  <div>
    <%= form_with model: @vehicle, data: { turbo: false } do |f|%>
      <div>
        <%= f.label :vehicle_model %>:<br>
        <%= f.text_field :vehicle_model, placeholder: 'Cargo 1317' %>
        <% @vehicle.errors.full_messages_for(:vehicle_model).each do |message| %>
          <div style="color:red"><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= f.label :vehicle_make %>:<br>
        <%= f.text_field :vehicle_make, placeholder: 'Ford' %>
        <% @vehicle.errors.full_messages_for(:vehicle_make).each do |message| %>
          <div style="color:red"><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= f.label :vehicle_plate %>:<br>
        <%= f.text_field :vehicle_plate, placeholder: 'BIW-4365' %>
        <% @vehicle.errors.full_messages_for(:vehicle_plate).each do |message| %>
          <div style="color:red"><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= f.label :year %>:<br>
        <%= f.text_field :year, placeholder: '2010' %>
        <% @vehicle.errors.full_messages_for(:year).each do |message| %>
          <div style="color:red"><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= f.label :load_capacity %>:<br>
        <%= f.number_field :load_capacity, placeholder: 1000 %>
        <% @vehicle.errors.full_messages_for(:load_capacity).each do |message| %>
          <div style="color:red"><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <nav>
    <%= link_to 'cancelar', vehicles_path %>
  </nav>
</section>
